* text=auto
*.cs text eol=lf
*.xaml text eol=lf
*.csproj text eol=lf
*.pubxml text eol=lf
*.js text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.cmd text eol=crlf
*.png binary
*.sh text eol=lf
*.command text eol=lf
*.swift text eol=lf
*.yml text eol=lf
